<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Add new project
</button>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Add Your Project</h2>
        </div>
        <div class="col-12">
          <div class="px-3"><%-include('./_project_form');-%></div>
        </div>
      </div>
    </div>
  </div>
</div>
